import /tee.rc
import /trustonic.rc
on init
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    mkdir /mnt/vendor/persist 0771 system system
    mkdir /mnt/vendor/persist/mcRegistry
    symlink /vendor/lib64/hw/libMcGatekeeper.so   /vendor/lib64/hw/gatekeeper.${ro.product.board}.so
    symlink /vendor/lib64/hw/libMcTeeKeymaster.so /vendor/lib64/hw/keystore.${ro.hardware}.so
    symlink /vendor/lib64/hw/libSoftGatekeeper.so /vendor/lib64/hw/gatekeeper.default.so
    write /sys/class/power_supply/usb/otg_switch 1

on post-fs

#Add for OPPO FBE By Momo5418
service hal_cryptoeng_oppo /vendor/bin/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root input sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/lib64/android.hardware.keymaster@3.0-service.trustonic
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/android.hardware.gatekeeper@1.0-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /vendor/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0    
    
on property:ro.crypto.state=encrypted
    start hal_cryptoeng_oppo
    start keymaster-3-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop hal_cryptoeng_oppo
    stop gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop hal_cryptoeng_oppo
    stop gatekeeper-1-0

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop hal_cryptoeng_oppo
    stop gatekeeper-1-0
