

#Add for OPPO FBE By Momo5418
service hal_cryptoeng_oppo /vendor/bin/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service.trustonic
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /vendor/bin/android.hardware.gatekeeper@1.0-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    user root
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0


on property:ro.crypto.state=encrypted
    start keymaster-3-0
    #start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop hal_cryptoeng_oppo

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop hal_cryptoeng_oppo

on property:twrp.decrypt.done=true
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop hal_cryptoeng_oppo

on boot
    start hal_cryptoeng_oppo