

#Add for OPPO FDE By Momo5418

service keymaster-3-0 /vendor/bin/hw/android.hardware.keymaster@3.0-service.trustonic
    disabled
    user root
    group root drmrpc
    seclabel u:r:recovery:s0

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    user root
    writepid /dev/cpuset/system-background/tasks
    seclabel u:r:recovery:s0


on property:ro.crypto.state=encrypted
    start keymaster-3-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0

on property:twrp.decrypt.done=true
    stop mobicore
    stop servicemanager
    stop hwservicemanager
    stop keymaster-3-0
